# Build products
.build/
DerivedData/
xcuserdata/

# Swift Package Manager
.swiftpm/
Package.resolved

# Xcode
*.xcodeproj/
*.xcworkspace/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate

# macOS
.DS_Store

# IDEs
.idea/
*.swp
*~
